.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 80vh;
  background-color: #2e3b4e;
  font-family: Arial, sans-serif;
}

.register-container header {
  margin-bottom: 1.5rem;
}

.register-container header h1 {
  color: #ffffff;
  font-size: 1.8rem;
  text-align: center;
}

.register-container form {
  background-color: #3b4a5a;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 360px;
}

.register-container .form-group {
  margin-bottom: 1.5rem;
}

.register-container .form-group label {
  display: block;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.register-container .form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #4e5a6e;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #2e3b4e;
  color: #ffffff;
}

.register-container .button-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1.5rem;
}

.register-container .create-button {
  background-color: #28a745;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.register-container .create-button:hover {
  background-color: #218838;
}

.register-container .cancel-button {
  background-color: #d9534f;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.register-container .cancel-button:hover {
  background-color: #c9302c;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 75vh;
  background-color: #2e3b4e;
  font-family: Arial, sans-serif;

  header {
    margin-bottom: 1.5rem;
    h1 {
      color: #ffffff; // Color del texto principal
      font-size: 1.8rem;
      text-align: center;
    }
  }

  form {
    background-color: #3b4a5a; // Fondo del formulario
    padding: 2rem;
    border-radius: 8px; // Bordes redondeados
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 360px; // Ancho máximo para el formulario

    .form-group {
      margin-bottom: 1.5rem;

      label {
        display: block;
        font-weight: bold;
        color: #ffffff; // Color de las etiquetas de los inputs
        margin-bottom: 0.5rem;
      }

      input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #4e5a6e; // Color del borde de los inputs
        border-radius: 4px; // Bordes redondeados en los inputs
        font-size: 1rem;
        background-color: #2e3b4e; // Fondo de los inputs
        color: #ffffff; // Color del texto en los inputs
      }
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      margin-top: 1.5rem;
    }

    .login-button {
      background-color: #1a73e8; // Fondo del botón de inicio de sesión
      color: #ffffff; // Color del texto en el botón
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #1558b0; // Color en hover para el botón de inicio de sesión
      }
    }

    .register-buttona{
      background-color: #ff8c00; // Fondo del botón de inicio de sesión
      color: #ffffff; // Color del texto en el botón
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #ff8000; // Color en hover para el botón de inicio de sesión
      }
    }

    .cancel-button {
      background-color: #d9534f; // Fondo del botón de cancelar
      color: #ffffff; // Color del texto en el botón de cancelar
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #c9302c; // Color en hover para el botón de cancelar
      }
    }
  }
}

