<div class="navbar-container">
<ul class="navbar">
  <li>
    <a class="menu-item">MENU |</a>
  </li>
  <li class="navbar-item"><A href="http://localhost:4200/">Home</A></li>
  <li class="navbar-item"><a href="course/index">Courses</a></li>
  <li class="navbar-item"><a href="levels">Levels</a></li>
  <li class="navbar-item"><a href="languages">Languages</a></li>
  <li class="navbar-item"><a href="students">Students</a></li>
  <button class="cancel-button" *ngIf="token!=null" type="button" (click)="logout()">Logout</button>
</ul>
</div>
